{% extends 'base.html' %}

{% block content %}
<!-- pet -->
<h1>This is {{pet.name}}!</h1>
<img src="{{pet.photo_url}}" />
<h2>{{pet.name }} is a {{pet.age}}</h2>
<h2>{{pet.name }} is a {{pet.species}}</h2>

<form id="pet-add-form" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>


{% endblock %}